*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.header {
    overflow: hidden;
    padding: 10px 10px;
    top: 0;
    background-color: black;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;

}

.header a:hover {
    background-color: #dbe1b6;
    color: #1222b7;
}
.header-right {
    float: right;
}

.header-left {
    float: left;
}
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .header-float{
        float:none;
    }
}
.footer{
    position: static;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 12px;

    font-size: 18px;
    line-height: 25px;

}

.footer a:hover {
    background-color: #dbe1b6;
    color: #1222b7;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }

}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
        float: left;
        padding: 5px;
    }
}

@media screen and(max-width: 768px){
    .column{
        width: 50%;
        float: left;
        padding: 5px;
    }
}

@media screen and(max-width: 992px){
    .column{
        width: 25%;
        float: left;
        padding: 5px;
    }
}



.team-section{
    overflow: hidden;
    text-align: center;
    background-color: #336e7b;
    padding: 60px;
}
.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.border
{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin:0 30px;
    width:160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.ps a:hover > img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size:34px ;
}

